@{
    ViewData["Title"] = "Home Page";
}

<h1 class="home-heading fw-light">Books</h1>

<img src="~/img/books.jpg" />

<style>
    .home-heading {
	    font-size: 45px;
	    font-weight: lighter;
        color: white;
	    text-align: center;
    }

    img {
	    display: block;
	    width: 100%;
	    height: auto;
    }
</style>